body{
    background-color: black;
    color:white;
}

.banner{
    display: flex;
    width:100%;
    height: 100vh;
}
.left{
    flex-basis: 20%;
    background:orange;
    
}
.right{
    flex-basis:80%;
    background:blue;

}
.leftinsert{
    
    margin:auto;
    padding-top:100px;
    

}
.leftinsert ul li{
    list-style: none;
}
.leftinsert ul {
    padding:20px;
}

.leftinsert ul li a {
    color:white;
    text-decoration: none;
    font-weight: 900;
}
.amarinput{
    width:80%;
    margin:auto;
    display:flex;
    background:#456;
    padding:10px;
    border-radius:30px;
}
.amarinput input{
    border:0;
    outline:none;
    background: transparent;
    color:white;
    font-weight: 900;
}

.styleme{
    
    margin:auto;
    margin:40px;
}

.styleme button:hover{
    background-color:green !important;
}